<section class="examples">
	<h2>Examples of Use</h2>

	<h3>First 100 Nodes</h3>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/000-small.png"/>

	<h3>Sections of the Full Graph</h3>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/009-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/001-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/002-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/003-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/004-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/005-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/006-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/007-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/008-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/010-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/011-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/012-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/013-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/014-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/015-full.png"/>

	<h3>Start/Stop Layout Organizer</h3>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/016-full.png"/>

	<h3>Removal of Random Nodes</h3>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/017-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/018-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/019-full.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/020-full-2.png"/>

	<h2>Start Point: Begat, Depth: 2</h2>	
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/021-small-begat.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/022-medium-begat.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/023-large-begat.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/024-full-begat.png"/>

	<h2>Start Point: Moses, Depth: 2</h2>	
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/025-small-moses.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/026-medium-moses.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/027-large-moses.png"/>
	<img src="http://dl.dropbox.com/u/7942138/gae_gbmine/img/screenshots/028-full-moses.png"/>
</section>
